# ==============================================================================
# CONFIGURAÇÕES DOS REPOSITÓRIOS
# ==============================================================================
DSPACE_BACKEND_REPO=https://github.com/DSpace/DSpace.git
DSPACE_FRONTEND_REPO=https://github.com/DSpace/dspace-angular.git

# Aceita tanto Tags (ex: dspace-10.0) quanto Branches (ex: main, dev)
# IMPORTANTE: use tags/branches compatíveis
DSPACE_BACKEND_TAG=dspace-10.0
DSPACE_FRONTEND_TAG=dspace-10.0

# ==============================================================================
# BACKEND - CONFIGURAÇÕES DO local.cfg (Mapeamento __P__ para ".")
# ==============================================================================
dspace__P__server__P__url=http://localhost:8080/server
dspace__P__ui__P__url=http://localhost:4000
dspace__P__name="DSpace do Ibict"

# Solução de conexão dos cores do Solr na rede interna do Docker
discovery__P__search__P__server=http://dspacesolr:8983/solr/search
solr_statistics__P__server=http://dspacesolr:8983/solr/statistics

# ==============================================================================
# FRONTEND - CONFIGURAÇÕES DO REPOSITÓRIO ANGULAR (Convenção de Maíusculas)
# ==============================================================================
# Servidor HTTP Node local (Escutando dentro do container)
DSPACE_UI_SSL=false
DSPACE_UI_HOST=0.0.0.0
DSPACE_UI_PORT=4000
DSPACE_UI_NAMESPACE=/

# Conexão com o endpoint REST da API DSpace
DSPACE_REST_SSL=false
DSPACE_REST_HOST=localhost
DSPACE_REST_PORT=8080
DSPACE_REST_NAMESPACE=/server


# ==============================================================================
# INFRAESTRUTURA (BANCO DE DADOS)
# ==============================================================================
db__P__url=jdbc:postgresql://dspacedb:5432/dspace
POSTGRES_VERSION=15
POSTGRES_USER=dspace 
POSTGRES_PASSWORD=dspace #altere para uma senha forte